---
import Layout from '../layouts/Layout.astro';
import { Card } from '../components/Card';
---

<Layout title="Página de Felipe">
	<div class="min-h-screen flex items-center justify-center">
		<Card 
			title="hola felipe" 
			subtitle="bienvenido a tu página personal"
		/>
	</div>
</Layout>
