---
import Layout from '../layouts/Layout.astro';
import { Card } from '../components/Card';
---

<Layout title="Página de Inicio">
	<div class="min-h-screen flex items-center justify-center">
		<Card 
			title="bienvenidos a la documentación" 
			subtitle="boxware"
		/>
	</div>
</Layout>
