---
import Layout from '../layouts/Layout.astro';
import { Card } from '../components/Card';
import { AnimacionSubida } from '../components/AnimacionSubida';
---

<Layout title="Requerimientos del Sistema" hideNavMenu={false}>
	<!-- Efecto de destellos aleatorios en el fondo -->
	<div class="stars-container fixed inset-0 -z-10 pointer-events-none">
		{Array.from({ length: 20 }).map((_, i) => (
			<div class="star" style={`--delay: ${Math.random() * 5}s; --duration: ${Math.random() * 2 + 1}s; --size: ${Math.random() * 4 + 1}px; --top: ${Math.random() * 100}%; --left: ${Math.random() * 100}%;`}></div>
		))}
	</div>
	
	<div class="flex flex-col items-center justify-center min-h-[calc(100vh-100px)]">
		<!-- Título principal -->
		<AnimacionSubida duration={1200}>
			<Card 
				title="Requerimientos" 
				subtitle="Sistema Boxware"
			/>
		</AnimacionSubida>
		
		<!-- Botones de acción -->
	</div>
</Layout>




